################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VelbyAdmin/.vs/AutomaticFootControl/v16/Server/sqlite3
/VelbyAdmin/AutomaticFootControl/bin
