<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/assets/InicioSesion/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="panelPrincipal" class="Form">
        @RenderBody()
    </div>
    <script src="~/Content/assets/InicioSesion/script.js"></script>
</body>

</html>