@using AutomaticFootControl.Models;
@model ErrorModelo

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    @Html.Raw(Model.ErrorHtml)
</body>
</html>
